@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: #121212;
}

#background-video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    margin: auto;
    /* left: 0;
    /* right: 0; */
    top: 0; 
    /* bottom: 0; */ 
    z-index: -1;
  }

/* --------------------------------------NAVIGATION------------------------- */
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: left;
    z-index: 1;
}
li a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: right;
}
.links{
    list-style: none;
    transform: translate(-15px, 0px);
}
.links li{
    display: inline-block;
    padding: 5px 25px;
}
.links li a{
    transform: all 0.3 ease 0s;
}
.links li a:hover {
    text-decoration: underline overline #FF3028;
}

.nav-container{
    /* background-color: black; */
    overflow: hidden; 
    left: 0;
    margin-top: 10px;
    block-size: auto;
    width: 100%;
    height: fit-content;
}
/* --------------------------------------NAVIGATION------------------------- */    
    
/* 
.movie_poster{
    width:180px;
    float:left;
	display:inline;
	height:250px;
	position:relative;
    top: 200px;
} */



.start-h1 {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    font-size: 6rem;
    margin-top: 150px;
    z-index: 1;
  }

  .saga-container{
      margin-top: 350px;

    }
  /* -----------------------------INFINITY------------------------- */  
    .infinity-container {
        width: 80%;
        height: 650px;
        margin: auto;
        border-radius: 25px;
        background-image: url("/Users/jadywady/Documents/uni/Programming/MARVELwebsite/thanobackground.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        position: relative;
        transform: scaleX(-1);
        margin-top: 500px;
    }
    .infinity-title {
        color: white;
        height: 650px;
        width: 100%;
        font-family: Trebuchet MS;
        font-weight: bold;
        text-align: left;
        font-size: 50px;
        z-index: 1;
        transform: scaleX(-1);   
        position: relative; left: 0; top: 0; width: 100%; height: 650px;
        padding: 20px;
        border-radius: 25px;
        background-image: linear-gradient(to right, 
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0));
        box-shadow: 52px 52px 26px -20px rgba(0,0,0,0.75);
        -webkit-box-shadow: 52px 52px 26px -20px rgba(0,0,0,0.75);
        -moz-box-shadow: 52px 52px 26px -20px rgba(0,0,0,0.75);
    }
    .infinity-info{
        color: white;
        font-family: Trebuchet MS;
        text-align: left;
        font-size: 25px;
        z-index: 1;
        transform: scaleX(-1);
        position: absolute; right: 0; top: 55px; width: 40%; height: 650px; 
        padding: 20px;   
        
    }
  /* ----------------------------STONES-------------------   */
    .infinity-stones{
        display: flex;
        align-items: stretch;
        margin-top: 250px;
        overflow-x: auto;
        position: relative;
        }

    .stone-pic{
        width: 500px;
        height: 500px;
        margin-left: 20px;
        object-fit: cover;
        border-radius: 25px;
        position: relative;
    }

    .space-content{

        width: 500px;
        height: 500px;
        margin-left: 20px;
        border-radius: 25px;

        position: absolute;
        z-index: 1;
        background: #266EF6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: 0.6s;
        top:0;
        left:0;

    }
    .space-content:hover{
        opacity: 1;
    }

    .mind-content{

        width: 500px;
        height: 500px;
        margin-left: 20px;
        border-radius: 25px;

        position: absolute;
        z-index: 1;
        background: #FF8B00;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: 0.6s;
        top:0;
        left:1;
    }
    .mind-content:hover{
        opacity: 1;
    }

    .reality-content{

        width: 500px;
        height: 500px;
        margin-left: 20px;
        border-radius: 25px;

        position: absolute;
        z-index: 1;
        background: #C60404;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: 0.6s;
        top:0;
        left:2;
    }
    .reality-content:hover{
        opacity: 1;
    }

    .power-content{

        width: 500px;
        height: 500px;
        margin-left: 20px;
        border-radius: 25px;

        position: absolute;
        z-index: 1;
        background: #BF00FF;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: 0.6s;
        top:0;
        left:3;
    }
    .power-content:hover{
        opacity: 1;
    }

    .time-content{

        width: 500px;
        height: 500px;
        margin-left: 20px;
        border-radius: 25px;

        position: absolute;
        z-index: 1;
        background: #35B535;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: 0.6s;
        top:0;
        left:4;
    }
    .time-content:hover{
        opacity: 1;
    }

    .soul-content{

        width: 500px;
        height: 500px;
        margin-left: 20px;
        border-radius: 25px;

        position: absolute;
        z-index: 1;
        background: #FFD300;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: 0.6s;
        top:0;
        left:5;
    }
    .soul-content:hover{
        opacity: 1;
    }



    .stone-title{
        color: white;
        height: 100px;
        font-family: Trebuchet MS;
        font-weight: bold;
        text-align: center;
        font-size: 50px;
        z-index: 1;
    }

    .stone-description{
        color: white;
        font-family: Trebuchet MS;
        text-align: center;
        font-size: 15px;
        width: 75%;
        z-index: 1;

    }
/* --------------------------------END STONES---------------- */



/* -----------------------END INFINITY------------------------- */



/* ------------------------------MULTIVERSE------------------------- */
    .multiverse-container {
        width: 80%;
        height: 650px;
        margin: auto;
        margin-top: 200px;
        border-radius: 25px;
        background-image: url("/Users/jadywady/Documents/uni/Programming/MARVELwebsite/spidermanbackground.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        position: relative;
        box-shadow: 52px 52px 26px -20px rgba(0,0,0,0.75);
        -webkit-box-shadow: 52px 52px 26px -20px rgba(0,0,0,0.75);
        -moz-box-shadow: 52px 52px 26px -20px rgba(0,0,0,0.75);
    }
    .multiverse-title {
        color: white;
        width: 100%;
        font-family: Trebuchet MS;
        font-weight: bold;
        text-align: left;
        font-size: 50px;
        z-index: 1;  
        position: relative; left: 0; top: 0; width: 100%; height: 650px;
        padding: 20px;
        border-radius: 25px;
        background-image: linear-gradient(to right, 
        rgba(0, 0, 0, 1), 
        rgba(0, 0, 0, 0));
    }
    .multiverse-info{
        color: white;
        font-family: Trebuchet MS;
        text-align: left;
        font-size: 25px;
        z-index: 1;
        position: absolute; left: 0; top: 55px; width: 40%; height: 650px; 
        padding: 20px;   
        
    }

    