@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
}
body{
    background: #ed1d24;

}
li a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links{
    list-style: none;
    transform: translate(-15px, 0px);
}
.links li{
    display: inline-block;
    padding: 5px 25px;
}
.links li a{
    transform: all 0.3 ease 0s;
}
.links li a:hover {
    text-decoration: underline overline #FF3028;
}

.nav-container{
    background-color: white;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
    block-size: auto;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
}
    
    
/* 
.movie_poster{
    width:180px;
    float:left;
	display:inline;
	height:250px;
	position:relative;
    top: 200px;
} */
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
.logo-container{
    border-top: 5px #ed1d24;
}
#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }


.start-h1 {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
    font-size: 6rem;
    margin-top: 150px;
    z-index: 1;
  }
.divider{
    border-top: 8px solid white;
    border-radius: 5px;
    margin-top: 250px;
    width: 50%;

}

.infinity-container {
    width: 100%;
    height: 650px;
    background-image: url("/Users/jadywady/Documents/uni/Programming/MARVELwebsite/thanobackground.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    position: relative;
    transform: scaleX(-1);
    margin-top: 100px;
}
.infinity-title {
    color: white;
    width: 100%;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: left;
    font-size: 50px;
    z-index: 1;
    transform: scaleX(-1);   
    position: relative; left: 0; top: 0; width: 100%; height: 650px;
    padding: 20px;
    background-image: linear-gradient(to right, 
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0));
}
.infinity-info{
    color: white;
    font-family: Trebuchet MS;
    text-align: left;
    font-size: 25px;
    z-index: 1;
    transform: scaleX(-1);
    position: stat;
    position: absolute; right: 0; top: 55px; width: 40%; height: 650px; 
    padding: 20px;   

}



.multiverse-container {
    width: 100%;
    height: 650px;
    background-image: url("/Users/jadywady/Documents/uni/Programming/MARVELwebsite/spidermanbackground.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    position: relative;
    margin-top: 100px;
}
.multiverse-title {
    color: white;
    width: 100%;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: left;
    font-size: 50px;
    z-index: 1;  
    position: relative; left: 0; top: 0; width: 100%; height: 650px;
    padding: 20px;
    background-image: linear-gradient(to right, 
    rgba(0, 0, 0, 1), 
    rgba(0, 0, 0, 0));
}
.multiverse-info{
    color: white;
    font-family: Trebuchet MS;
    text-align: left;
    font-size: 25px;
    z-index: 1;
    position: absolute; left: 0; top: 55px; width: 40%; height: 650px; 
    padding: 20px;   

}